<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="/static/materializ.css" rel="stylesheet" />
    
</head>

<body>  
    <main>
      <div style="background-image: url('https://images.unsplash.com/photo-1487147264018-f937fba0c817?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80');" width="auto" height="auto">  
        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
              <br><br>
              <h1 class="header center orange-text">Google OAuth2.0 Project</h1>
              <b><p class="header center"  style="color :#65a898; font-size: 20px;">Secure Software Development</p></b>
              <div class="row center">
                <h5 class="header col s12 light">The OAuth2 application that helps to access Google Drive and Google Calender of an authorized user</h5>
              </div>
              <div class="row center">
                <b><a href="/auth/login/google" id="download-button" class="btn-large waves-effect waves-light orange">AUTHORIZE WITH GMAIL</a></b>
              </div>              
            </div>
          </div>
          </div>
    </main>
</body>
</html>