<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="/static/materializ.css" rel="stylesheet" />
    
</head>

<body>  
    <main>
        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
              <br><br>
              <h1 class="header center orange-text">Google OAuth2</h1>
              <div class="row center">
                <h5 class="header col s12 light">A simple OAuth2 application that authenticate and authoroize to access google drive of an user</h5>
              </div>
              <div class="row center">
                <b><a href="/auth/login/google" id="download-button" class="btn-large waves-effect waves-light orange">LOGIN WITH GMAIL</a></b>
              </div>              
            </div>
          </div>
    </main>
</body>
</html>