<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    <title>{{title}}</title>
    <link href="/static/materializ.css" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
</head>

<body>

    <nav style="background:#65a898">
        <div class="nav-wrapper">
            <ul id="nav" class="right">
                <li>{{name}}</li>
                <li><a href="/auth/logout">LogOut</a></li>
            </ul>
        </div>
    </nav>
    <br>

    <main>                
        <div class="card text-center" style="width: 40em;margin:0 auto;">
            <div class="card-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col s12">
                            <ul class="collection">
                                <li class="collection-item avatar">                            
                                    <span class="title">Author's Name - {{name}}</span>                            
                                    <p>Author's Email - {{email}}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        <br>  
        <div class="card text-center" style="width: 60em;margin:0 auto;">
            <div class="card-header">
              <h4 class="header center"  style="color :#65a898; font-size: 20px;">Upload Your Files Here</h4>
            </div>
            <div class="card-body">
                <div class="col s12 m4 center">
                    <div>
                        {% if (file == "uploaded") %}
                        <div class="light-green lighten-1" style="padding: 2px 10px">
                            <p>Your File is Successfully Uploaded to You Google Drive ....!</p>
                        </div>
                        {% elif (file == "notuploaded") %}
                        <div class="light-blue lighten-1" style="padding: 2px 10px">
                            <p>Your File is Failed to Upload to Your Google Drive ....!</p>
                        </div>
                        {% endif %}
                    </div>
        
        
                    <form action="/upload" method="post" enctype="multipart/form-data">
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>Choose Files from Your PC</span>
                                <input type="file" required name="file_upload">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                        <button style="display: block; margin: 0 auto" class="btn waves-effect light-blue"
                            type="submit">UPLOAD TO DRIVE</button>
                    </form>
                </div> 
             
            </div>
            <div class="card-footer text-muted">
              <p class="header center orange-text"  style="font-size: 20px;">You can view uploaded items in your Google Drive</p>                
            </div>
          </div>

        
        </body>  
        
        <div class="card text-center" style="width: 60em;margin:0 auto;">
          <div class="card-header">
            <h4 class="header center"  style="color :#65a898; font-size: 20px;">Create Your Calender Events Here</h4>
          </div>
          <div class="card-body">
              <div class="col s12 m4 center">
                  <div>
                      {% if (file == "uploaded") %}
                      <div class="light-green lighten-1" style="padding: 2px 10px">
                          <p>Your File is Successfully Uploaded to You Google Drive ....!</p>
                      </div>
                      {% elif (file == "notuploaded") %}
                      <div class="light-blue lighten-1" style="padding: 2px 10px">
                          <p>Your File is Failed to Upload to Your Google Drive ....!</p>
                      </div>
                      {% endif %}
                  </div>
      
      
                  <form action="/upload" method="post" enctype="multipart/form-data">
                      <div class="file-field input-field">
                          <div class="btn">
                              <span>Choose Files from Your PC</span>
                              <input type="file" required name="file_upload">
                          </div>
                          <div class="file-path-wrapper">
                              <input class="file-path validate" type="text">
                          </div>
                      </div>
                      <button style="display: block; margin: 0 auto" class="btn waves-effect light-blue"
                          type="submit">UPLOAD TO DRIVE</button>
                  </form>
              </div> 
           
          </div>
          <div class="card-footer text-muted">
              You can view uploaded items in your Google Drive
          </div>
        </div>

        <body style="margin-top: 0px;">
            <div class="grey lighten-3 container">
              <div class="col s6 m7 center  grey lighten-3">
                <h2 class="header" style="height: 80px;">Create Your Calender Events Here</h2>
                <span id="msg">
                  <h4 style="text-decoration-color: rgb(172, 8, 41);"> Calender Event is Successfully Added......!!! </h4>
                </span>
                <span id="msg_error">
                  <h4 style="text-decoration-color: rgb(172, 8, 41);"> Calender Event is not Added......!!! Something Went Wrong !!! </h4>
                </span>
                <span id="url_id"> </span>
        
                <form id="main_form"
                  style="width: 30opx; align-content: center; margin-right:150px;margin-left:150px; margin-top: 20px;padding-top: 10px">
                  <div class="form-group">
        
                  </div>
        
                  <div class="form-group">
                    <div class="col-md-4">
                      <input type="text" class="form-control" name="summary" id="summary" placeholder="summary" required />
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-4">
                      <textarea class="form-control" name="description" id="description" placeholder="Description" rows="10"
                        cols="20" required></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-4">
                      <input type="text" class="form-control" name="location" id="location" placeholder="Location" required />
                    </div>
                  </div>
        
                  <div class="form-group">
                    <div class="col-md-2">
                      <div class="help-block">Start</div>
                      <input type="datetime-local" id="start" name="start" class="form-control input-datetimepicker"
                        data-date-format="yyy-mm-ddThh:ii" required>
                    </div>
                    <div class="col-md-2">
                      <div class="help-block">End </div>
                      <input type="datetime-local" id="end" name="end" class="form-control input-datetimepicker"
                        data-date-format="yyy-mm-ddThh:ii" required>
                    </div>
                  </div>
        
                  <div class="center-align">
                    <button type="button" id="eventSubmit" class="waves-effect waves-light btn  red darken-3"> add
                      event</button>
        
                  </div>
                </form>
        
              </div>
              <div class="footer-copyright  center   grey lighten-3 " style="padding: 4px;">
                <p> ADDING EVENTS MADE EASY WITH GOOGLE </p>
              </div>
            </div>
            </div>
            </div>
        
            </div>
        
          </body>
      
    </main>

</body>

</html>

<script type="text/javascript">

    $('#msg').hide();
    $('#msg_error').hide();
  
    $('#eventSubmit').on('click', function (e) {
      e.preventDefault();
  
      var summary = $('#summary').val();
      var description = $('#description').val();
      var location = $('#location').val();
      var start = $('#start').val();
      var end = $('#end').val();
  
      if (summary == "" || summary == null || description == "" || description == null || location == "" || location == null || start == null || start == "" || end == "" || end == null) {
        iziToast.warning({
          title: 'Warning',
          message: "Please fill all the fields...!",
          position: 'center',
        });
      } else {
        $.ajax({
          url: '/addEvent',
          method: 'POST',
          data: {
            summary: summary,
            description: description,
            location: location,
            start: start,
            end: end
          },
          headers: {
            Authorization: $`Bearer ${localStorage.getItem("access_token")}`
          },
          error: function (r) { },
          success: function (r) {
            if (r.result) {
              $('#msg').show();
              $('#main_form').hide();
              $("#url_id").html("<a href='" + r.url + "'> Click here to view in google Calender </a>");
  
            } else {
              $('#msg_error').show();
              $('#main_form').hide();
  
            }
          }
        });
  
      }
  
    });
  </script>